{{#each jobs:i}}
<li>
    <div class="post-date">
        <strong>{{posted_day}}</strong>
        <span>{{posted_month}}</span>
    </div>
    <div class="job">
        <a target="_blank" class="job-title" href="{{ job_detail_url }}">{{job_title}}</a>
        <div class="company-name">{{ job_company }} <strong class="salary">{{ salary }}</strong></div>
        <div class="job-info">
            <span class="work-location">
                <span class="icon-map-marker"></span>
                {{#each job_location}}<a href="{{ link }}" target="_blank">{{name}}</a> {{/each}}
            </span>
            <span class="views">
                <span class="icon-eye"></span>
                {{ views }}
            </span>
            <span class="category">
                <span class="icon-category"></span>
                {{#each job_industry}} <a href="{{ link }}" target="_blank">{{name}}</a> {{/each}}
            </span>
            <span class="show-more">{{ translation.show_more }}
                <span class="icon-caret-down"></span>
            </span>
        </div>
    </div>
    <div class="show-more-info-box in">
        <p>{{ translation.Benefits }}</p>
        {{#each benefits}}
        <div class="benefit">
            <span class=""></span>
            <span>{{ benefitValue }}</span>
        </div>
        {{/each}}

        <p>{{ translation.Skills }}:</p>
        {{#each skills}}<div class="tag">{{ skillName }}</div>{{/each}}
    </div>
</li>
{{/each}}